<section class="country">
    <div class="country-left-side">

        <div class="top">
            <div class="country-info">
                <h2>{{country.name}}</h2>
                <p>{{country.capital}}</p>
            </div>
            <div class="country-rating">
                <p class="country-title">rating</p>
                <p>5/5</p>
                <div class="stars-container">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
        <div class="famous-dish">
            <p class="country-title">famous dish</p>
            <p>{{country.famousDish}}</p>
        </div>
        <div class="fun-facts">
            <p class="country-title">fun facts</p>
            <p>{{country.funFacts}}
            </p>
        </div>
    </div>
    <div class="country-right-side">
        <img class="country-img" src="{{country.pictureUrl}}" alt="country cool picture">
        <div class="country-actions">

            <button class="country-btn popup" onclick="myFunction()"><i class="fa-solid fa-share"></i>share
                <span class="popuptext" id="myPopup">copied link!</span>
            </button>
            {{#if user}}
            <a href="/country/{{country.id}}/bookmark" class="country-btn"><i
                    class="fa-regular fa-bookmark"></i>bookmark</a>
            {{else}}
            <button class="disabled"><i class="fa-regular fa-bookmark"></i>bookmark</button>
            {{/if}}

        </div>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </div>
    <div class="country-comments">
        <ul class="comments-list">
            <p class="country-title comment-title">comments</p>
            {{#if country.comments.length}}
            {{#each country.comments}}
            <li class="single-comment">
                <div>
                    <p class="comment-username">{{author.username}}</p>
                    <p class="comment-content">{{description}}</p>
                </div>
                <div>
                    <a href="#"><i class="fa-solid fa-trash delete-icon"></i></a>
                </div>
            </li>
            {{/each}}
            {{else}}
            <p>No comments yet, please feel free to comment</p>
            {{/if}}
        </ul>
        {{#if user}}
        <form action="/country/{{country.id}}/comment" method="post" class="comments-form">
            <textarea class="comment-input" name="comment" rows="5" cols="33"
                placeholder="please insert your comment here..."></textarea>
            <button type="submit" class="country-btn">comment</button>
        </form>
        {{else}}
        <p class="loggedinerror">You need to be logged in to comment!</p>
        {{/if}}
    </div>
    <script>
        async function myFunction() {
            try {
                const type = "text/plain";
                const blob = new Blob(["http://localhost:3000/country/{{country.id}}"], { type });
                const data = [new ClipboardItem({ [type]: blob })];

                var popup = document.getElementById("myPopup");

                navigator.clipboard.write(data);
                popup.classList.toggle("show");
            } catch (err) {
                console.error(err);
            }
        }
    </script>
</section>